@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #595959 #171717;
}

.container {
    max-width: 1680px;
}